In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Data : German elections

Two files on elections in Germany (2005 and 2009): train the model on 2005 data, evaluate the prediciton on 2009 data

In [3]:
german_2005 = pd.read_csv("data_new/lr_german_2005.csv", sep=";")
german_2005

,Type,State,Region,Elect..Particptn..2005,Elect..Participtn..2009,Pop..Density,Old.Pop.,Mid.aged.Pop.,Young.Pop.,Children.Pop.,...,Bankruptcies,Unemploy.,Unempl..Youth,lat,lon,a,b,c,d,e
0,Urban,Schleswig-Holstein,North,73.2,67.4,1559.8,24.3,29.1,11.7,15.4,...,203.6,13.0,12.2,54.793149,9.445471,2,1,4,3,5
1,Urban,Schleswig-Holstein,North,77.0,71.7,2008.3,25.5,30.9,10.8,14.5,...,150.2,10.9,8.5,54.322395,10.121557,2,1,4,3,5
2,Urban,Schleswig-Holstein,North,73.1,68.3,979.5,25.9,26.6,8.8,15.7,...,116.2,12.3,12.9,53.865010,10.681037,2,1,4,3,5
3,Urban,Schleswig-Holstein,North,72.5,65.4,1073.5,26.2,25.2,8.9,17.8,...,131.5,11.3,12.8,54.072245,9.990648,2,1,3,4,5
4,Rural,Schleswig-Holstein,North,77.3,71.1,94.7,27.4,23.6,7.7,18.3,...,86.7,9.7,11.8,54.195788,9.101376,1,2,3,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,Rural,Thuringia,East,75.7,64.3,114.3,31.2,23.7,7.7,11.5,...,96.8,10.8,10.5,50.647047,11.296807,3,1,4,5,2
408,Rural,Thuringia,East,78.1,67.7,107.0,32.0,25.0,7.8,12.9,...,85.5,9.5,9.7,50.912925,11.787938,3,1,4,5,2
409,Rural,Thuringia,East,76.9,66.3,77.2,31.6,24.2,7.9,12.7,...,83.9,9.7,8.5,50.589275,11.728708,3,1,4,5,2
410,Rural,Thuringia,East,77.7,66.7,129.2,32.2,23.1,7.1,12.0,...,74.8,11.4,10.0,50.654013,12.172110,2,1,4,5,3
411,Rural,Thuringia,East,73.5,61.4,176.1,31.3,23.1,7.3,11.6,...,76.4,15.8,12.4,50.974760,12.403379,3,1,4,5,2

In [4]:
german_2005[['a', 'b', 'c', 'd', 'e']]

     a  b  c  d  e
0    2  1  4  3  5
1    2  1  4  3  5
2    2  1  4  3  5
3    2  1  3  4  5
4    1  2  3  4  5
..  .. .. .. .. ..
407  3  1  4  5  2
408  3  1  4  5  2
409  3  1  4  5  2
410  2  1  4  5  3
411  3  1  4  5  2

[412 rows x 5 columns]

In [5]:
german_2009 = pd.read_csv("data_new/lr_german_2009.csv", sep=";")
german_2009

,Type,State,Region,Elect..Particptn..2005,Elect..Participtn..2009,Elderly.pop.,Old.Pop.,Mid.aged.Pop.,Young.Pop.,Children.Pop.,...,Bankruptcies,Unemploy.,Unempl..Youth,lat,lon,a,b,c,d,e
0,Urban,Schleswig-Holstein,North,73.2,67.4,19.6,24.3,29.1,11.7,15.4,...,203.6,13.0,12.2,54.793149,9.445471,2,1,4,3,5
1,Urban,Schleswig-Holstein,North,77.0,71.7,18.5,25.5,30.9,10.8,14.5,...,150.2,10.9,8.5,54.322395,10.121557,2,1,4,3,5
2,Urban,Schleswig-Holstein,North,73.1,68.3,23.1,25.9,26.6,8.8,15.7,...,116.2,12.3,12.9,53.865010,10.681037,2,1,3,4,5
3,Urban,Schleswig-Holstein,North,72.5,65.4,21.9,26.2,25.2,8.9,17.8,...,131.5,11.3,12.8,54.072245,9.990648,2,1,3,4,5
4,Rural,Schleswig-Holstein,North,77.3,71.1,23.1,27.4,23.6,7.7,18.3,...,86.7,9.7,11.8,54.195788,9.101376,1,2,3,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,Rural,Thuringia,East,75.7,64.3,25.8,31.2,23.7,7.7,11.5,...,96.8,10.8,10.5,50.647047,11.296807,2,3,4,5,1
408,Rural,Thuringia,East,78.1,67.7,22.4,32.0,25.0,7.8,12.9,...,85.5,9.5,9.7,50.912925,11.787938,1,3,4,5,2
409,Rural,Thuringia,East,76.9,66.3,23.7,31.6,24.2,7.9,12.7,...,83.9,9.7,8.5,50.589275,11.728708,1,3,4,5,2
410,Rural,Thuringia,East,77.7,66.7,25.4,32.2,23.1,7.1,12.0,...,74.8,11.4,10.0,50.654013,12.172110,1,3,4,5,2
411,Rural,Thuringia,East,73.5,61.4,26.8,31.3,23.1,7.3,11.6,...,76.4,15.8,12.4,50.974760,12.403379,1,3,4,5,2

In [6]:
german_2009.columns

Index(['Type', 'State', 'Region', 'Elect..Particptn..2005',
       'Elect..Participtn..2009', 'Elderly.pop.', 'Old.Pop.', 'Mid.aged.Pop.',
       'Young.Pop.', 'Children.Pop.', 'Highschool.degree', 'No.school.degree',
       'Registrd.Web.Doms', 'Business.Regstr.', 'Income', 'GDP.growth.2009',
       'GDP.growth.2008', 'Workforce', 'X.cars', 'Agricult..workf.',
       'Prod..workf.', 'Manufac..Workf.', 'Constr..workf.', 'Service.workf.',
       'Trade.workf.', 'Finance.workf.', 'Pub..serv..workf.', 'Bankruptcies',
       'Unemploy.', 'Unempl..Youth', 'lat', 'lon', 'a', 'b', 'c', 'd', 'e'],
      dtype='object')

In [7]:
german_2005.columns

Index(['Type', 'State', 'Region', 'Elect..Particptn..2005',
       'Elect..Participtn..2009', 'Pop..Density', 'Old.Pop.', 'Mid.aged.Pop.',
       'Young.Pop.', 'Children.Pop.', 'Highschool.degree', 'No.school.degree',
       'Registrd.Web.Doms', 'Business.Regstr.', 'Income', 'GDP.growth.2009',
       'GDP.growth.2008', 'Workforce', 'X.cars', 'Agricult..workf.',
       'Prod..workf.', 'Manufac..Workf.', 'Constr..workf.', 'Service.workf.',
       'Trade.workf.', 'Finance.workf.', 'Pub..serv..workf.', 'Bankruptcies',
       'Unemploy.', 'Unempl..Youth', 'lat', 'lon', 'a', 'b', 'c', 'd', 'e'],
      dtype='object')

Understand which variables to keep in the data
--> drop participation for the different year

--> Pop..Density differs form Elderly.pop

# Data : Portugese elections

Dans le papier : https://repositorio-aberto.up.pt/bitstream/10216/111219/2/258366.pdf

Considération des labels : 
• BE (left-wing)
• CDS-PP (conservative)
• PCP-PEV (left-wing)
• PPD/PSD (center-right)
• PS (center-left)

In [9]:
portugal_2009 = pd.read_csv("data_new/lr_portugal_2009.csv", sep=";", encoding="latin-1")
portugal_2009

,Regions,Votes Total,BE,CDS-PP,CDS-PP-MPT,CDS-PP-MPT-PPM,CDS-PP-PPD/PSD,Grupo de cidadaos,MPT,PAN,...,%Employees per Sector Administration and Services,Employees per Economic Sector Banks,%Employees per Economic Sector Banks,Employees per Economic Sector Others,%Employees per Economic Sector Others,Companies Dissolved,Unemployment Total,%Unemployment Total,Unemployment <25,%Unemployment <25
0,Arcos de Valdevez,14683,0,973,0,0,0,0,0,0,...,-1,59,-1,0,-1,14,900.5,-1,147.9,-1
1,Caminha,10980,256,0,0,0,0,0,0,0,...,-1,53,-1,0,-1,17,729.9,-1,85.9,-1
2,Melgaco,5689,0,0,0,0,0,0,0,0,...,-1,29,-1,0,-1,4,165.7,-1,39.4,-1
3,Moncao,11851,0,0,0,0,0,0,0,0,...,-1,47,-1,0,-1,23,501.7,-1,71.8,-1
4,Paredes de Coura,6299,0,0,0,0,0,0,0,0,...,-1,20,-1,0,-1,10,398.6,-1,52.6,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,Ribeira Brava,7101,150,949,0,0,0,0,0,0,...,-1,44,-1,0,-1,7,0.0,-1,0.0,-1
304,Santa Cruz,19472,0,0,0,0,0,0,0,0,...,-1,62,-1,0,-1,50,0.0,-1,0.0,-1
305,Santana,5137,85,638,0,0,0,0,0,0,...,-1,12,-1,0,-1,6,0.0,-1,0.0,-1
306,Sao Vicente,3646,24,476,0,0,0,0,0,0,...,-1,44,-1,0,-1,4,0.0,-1,0.0,-1
307,Porto Santo,3193,48,102,0,0,0,0,0,0,...,-1,17,-1,0,-1,21,0.0,-1,0.0,-1

In [10]:
portugal_2009.columns

Index(['Regions', 'Votes Total', 'BE', 'CDS-PP', 'CDS-PP-MPT',
       'CDS-PP-MPT-PPM', 'CDS-PP-PPD/PSD', 'Grupo de cidadaos', 'MPT', 'PAN',
       'PCP-PEV', 'PCTP/MRPP', 'PND', 'PNR', 'PPD/PSD', 'PPD/PSD-CDS-PP',
       'PPD/PSD-CDS-PP-MPT', 'PPD/PSD-CDS-PP-MPT-PPM', 'PPD/PSD-CDS-PP-PPM',
       'PPD/PSD-CDS-PP-PPM-MPT', 'PPD/PSD-MPT', 'PPD/PSD-MPT-PPM',
       'PPD/PSD-PPM', 'PPD/PSD-PPM-MPT', 'PPM', 'PPM-PPV', 'PPM-PPV-PND',
       'PPV', 'PS', 'PS-BE-PND-MPT-PTP-PAN', 'PS-PTP-PND-BE', 'PTP', 'Ranking',
       'Residents Total', 'Residents 0-14', '%Residents 0-14',
       'Residents 15-64', '%Residents 15-64', 'Residents 65+',
       '%Residents 65+', 'Population without Education',
       '%Population without Education', 'Population with High School',
       '%Population with High School', 'Companies Created',
       'Average Monthly Income', 'Employees per Sector Total',
       'Employees per Sector Agriculture', '%Employees per Sector Agriculture',
       'Employees per Sector Extraction Industries',
       '%Employees per Sector Extraction Industries',
       'Employees per Sector Transformation Industries',
       '%Employees per Sector Transformation Industries',
       'Employees per Sector Construction',
       '%Employees per Sector Construction',
       'Employees per Sector Gross and Retails Markets',
       '%Employees per Sector Gross and Retails Markets',
       'Employees per Sector Administration and Services',
       '%Employees per Sector Administration and Services',
       'Employees per Economic Sector Banks',
       '%Employees per Economic Sector Banks',
       'Employees per Economic Sector Others',
       '%Employees per Economic Sector Others', 'Companies Dissolved',
       'Unemployment Total', '%Unemployment Total', 'Unemployment <25',
       '%Unemployment <25'],
      dtype='object')

Variable ranking non définie : recaler avec a, b, c, d, e selon les partis

In [11]:
portugal_2009["Ranking"]

0      x
1      x
2      x
3      x
4      x
      ..
303    x
304    x
305    x
306    x
307    x
Name: Ranking, Length: 308, dtype: object

In [13]:
portugal_2013 = pd.read_csv("data_new/lr_portugal_2013.csv", sep=";", encoding="latin-1")
portugal_2013

,ï»¿Regions,Votes Total,BE,CDS-PP,CDS-PP-MPT,CDS-PP-MPT-PPM,CDS-PP-PPD/PSD,Grupo de cidadaos,MPT,PAN,...,%Employees per Sector Administration and Services,Employees per Economic Sector Banks,%Employees per Economic Sector Banks,Employees per Economic Sector Others,%Employees per Economic Sector Others,Companies Dissolved,Unemployment Total,%Unemployment Total,Unemployment <25,%Unemployment <25
0,Arcos de Valdevez,13872,0,1687,0,0,0,0,0,0,...,0.032339,52,0.010849,0,0.0,17,1179.8,0.052944,201.2,0.170537379
1,Caminha,10573,0,0,0,0,0,0,0,0,...,0.089518,46,0.011732,0,0.0,16,963.0,0.058488,98.3,0.102076843
2,Melgaco,4855,0,0,0,0,0,0,0,0,...,0.030427,25,0.014628,0,0.0,2,250.6,0.028240,49.1,0.195929769
3,Moncao,11909,0,2221,0,0,0,0,0,0,...,0.044062,41,0.008211,0,0.0,19,727.2,0.038413,124.2,0.170792079
4,Paredes de Coura,6090,0,131,0,0,0,0,0,0,...,0.107837,19,0.011912,0,0.0,9,613.9,0.067917,102.9,0.167616876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,Ribeira Brava,6525,185,1381,0,0,0,0,0,0,...,0.069508,45,0.022831,0,0.0,16,0.0,0.000000,0.0,#DIV/0!
304,Santa Cruz,20670,0,0,0,0,0,13886,0,806,...,0.109543,51,0.007824,0,0.0,36,0.0,0.000000,0.0,#DIV/0!
305,Santana,4861,60,2605,0,0,0,0,0,0,...,0.067052,0,0.000000,0,0.0,12,0.0,0.000000,0.0,#DIV/0!
306,Sao Vicente,3590,41,0,0,0,0,2380,0,0,...,0.042339,19,0.019153,0,0.0,8,0.0,0.000000,0.0,#DIV/0!
307,Porto Santo,3463,0,328,0,0,0,131,0,0,...,0.118568,15,0.016779,0,0.0,2,0.0,0.000000,0.0,#DIV/0!

In [14]:
portugal_2013[['BE', 'CDS-PP', 'PCP-PEV', 'PPD/PSD', 'PS']]

      BE  CDS-PP  PCP-PEV  PPD/PSD    PS
0      0    1687      478     7837  3870
1      0       0      442     4930  5201
2      0       0      129     1462  3264
3      0    2221      206     4739  4743
4      0     131      272     2308  3379
..   ...     ...      ...      ...   ...
303  185    1381      241     2878  1507
304    0       0      999     4979     0
305   60    2605       72     1667   392
306   41       0       33     1136     0
307    0     328       53     1310  1484

[308 rows x 5 columns]

In [15]:
portugal_2013["Ranking"]

0      b>a>c>d>e
1      a>b>c>d>e
2      a>b>c>d>e
3      b>a>c>d>e
4      b>a>c>d>e
         ...
303    b>a>c>d>e
304    a>b>c>d>e
305    b>a>c>d>e
306    a>b>c>d>e
307    b>a>c>d>e
Name: Ranking, Length: 308, dtype: object

Qui est a, b, c, d, e ?

Ligne 0 : PPD/PSD > PS > CDS-PP > PCP-PEV > BE  / ranking b>a>c>d>e
- a : PS
- b : PPD/PSD
- c : CDS-PP
- d : PCP-PEV
- e : BE

Ligne 3 : PS > PPD/PSD > CDS-PP > PCP-PEV > BE / ranking b>a>c>d>e
- a : PPD/PSD
- b : PS
- c : CDS-PP
- d : PCP-PEV
- e : BE

=> refaire le ranking partout (sachant que certains df n'ont pas la variable ranking, on peut supposer que c'est une erreur)